/* General */

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins'
}

.split {
    display: flex;
}

.split>div {
    width: 100%;
    padding: 10px;
}

.split>div:not(:first-of-type) {
    border-left: 1px solid #ddd;
}


/* Popup */

.popup {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    display: none;
    overflow-y: scroll;
}

.open {
    display: block;
}

.popupInner {
    max-width: 500px;
    margin: auto;
    background-color: white;
    padding: 20px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.field {
    display: flex;
    flex-wrap: wrap;
}


/* Close icon */

.close {
    position: absolute;
    right: 20px;
    width: 30px;
    height: 30px;
    opacity: 0.3;
    display: block;
    z-index: 100;
}

.close:hover {
    opacity: 1;
}

.close:before,
.close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}


/* Form */

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #d2d2d2;
    outline: 0;
    font-size: 16px;
    color: #212121;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown~.form__label {
    font-size: 16px;
    cursor: text;
    top: 20px;
}

label,
.form__field:focus~.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 12px;
    color: #9b9b9b;
}

.form__field:focus~.form__label {
    color: #009788;
}

.form__field:focus {
    padding-bottom: 6px;
    border-bottom: 2px solid #009788;
}


/* Button */

.btn {
    padding: 10px 15px;
    max-width: calc(100% - 40px);
    background-color: #EFF5EE;
    border: 1px solid #009788;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    -webkit-appearance: button;
}

.btn:hover {
    background-color: #EFF5EE;
    transform: scale(1.03);
}

.button-wrapper {
    text-align: right;
}

.popupBtn {
    padding: 10px 15px;
    margin: auto;
    background-color: #EFF5EE;
    border: 1px solid #009788;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"] {
    padding: 15px;
    margin: auto;
    font-size: 16px;
    cursor: pointer;
    -webkit-appearance: button;
}

input[type="submit"]:hover {
    background-color: rgba(0, 0, 0, 0.1);
    outline: none;
}

input[type="button"] {
    padding: 15px;
    margin: auto;
    font-size: 16px;
    cursor: pointer;
    -webkit-appearance: button;
}

input[type="button"]:hover {
    background-color: rgba(0, 0, 0, 0.1);
    outline: none;
}


/* Colors */

.color {
    display: flex;
    flex-wrap: wrap;
}

.color>div {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 10px;
    border: 2px solid transparent;
    cursor: pointer;
}

.selectedColor {
    border: 2px solid black !important;
}

.brown {
    background-color: brown
}

.red {
    background-color: red
}

.orange {
    background-color: orange
}

.yellow {
    background-color: yellow
}

.green {
    background-color: green
}

.blue {
    background-color: blue
}

.priorityColor {
    width: 10px;
    height: 10px;
    border-radius: 100px;
    position: absolute;
    right: 10px;
}
