body {
    background-color: #FFF5EE;
    margin: auto;
    max-width: 1200px;
    width: 100%;
}

.projectContainer {
    display: flex;
    flex-wrap: wrap;
}

.projectContainer>div {
    width: 270px;
    height: 130px;
    margin: 25px;
    margin-top: 100px;
    padding: 15px;
}

#newProject {
    background-color: #50A3A4;
    cursor: pointer;
}

#project1{
    background-color: #FCAF38;
}

#project2{
    background-color: #f95335;
}


#newProject>h4 {
    font-size: 40px;
    text-align: center;
    margin: 0;
}

#newProject>p {
    font-size: 100px;
    text-align: center;
    margin: 0;
    margin-top: -20px;
}
H1{
    color:  #674A40;
    margin-top: 50px;
    margin-left: 30px;
}


/* Colors */